@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root,
#App {
	height: 100vh;
	box-sizing: border-box;
}

@supports (height: 100svh) {
	body,
	#root,
	#App {
		height: 100svh;
	}
}

.text-page-layout {
	@apply max-w-content mx-auto px-full-app-side-spacing;
}

footer a {
	@apply underline underline-offset-2;
}

footer a:hover {
	@apply text-accentColor-strong underline-offset-4;
}
