@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root,
#App {
	height: 100vh;
	box-sizing: border-box;
}

@supports (height: 100svh) {
	body,
	#root,
	#App {
		height: 100svh;
	}
}

html {
	scroll-behavior: smooth;
}

.text-page-layout {
	@apply max-w-content mx-auto px-full-app-side-spacing;
}

.text-body-section-layout {
	@apply my-16 md:my-36;
}

a,
.hover-animation-effect {
	@apply transition delay-75 duration-200 ease-in-out;
}

footer a,
main a {
	@apply underline underline-offset-2;
}

footer a:hover,
main a:hover {
	@apply text-accentColor-strong underline-offset-4 cursor-pointer;
}

.fade-bottom {
	-webkit-mask-image: linear-gradient(
		to bottom,
		black 60%,
		rgba(0, 0, 0, 0.6) 75%,
		rgba(0, 0, 0, 0.3) 90%,
		transparent 100%
	);
	mask-image: linear-gradient(
		to bottom,
		black 60%,
		rgba(0, 0, 0, 0.6) 75%,
		rgba(0, 0, 0, 0.3) 90%,
		transparent 100%
	);
}
